*
{
    background-color: #505050;
}

body
{
    text-align: center;
}


#passaros
{
    animation: passaros;
    animation-duration: 25s;
    animation-fill-mode: forwards;
}

@keyframes passaros
{
    from{
        transform: translateX(0px) translateY(0px);
    }
    to{
        transform: translateX(-1000px) translateY(60px);
    }
}

#barco
{
    animation: barco 15s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes barco
{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(650px);
    }
}

#braco
{
    animation: braco 15s;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

@keyframes braco
{
    from{

        transform: translateX(0);
    }
    to
    {
        transform: translateX(650px);
    }
}

#erva
{
    animation: erva 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    align-items: baseline;
}

@keyframes erva
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(5px);
    }
}